
.attend-container {
    margin-left: 20%;
    margin-top: 5%;
}

.attend {
    height: 50px;
    width: 120px;
    line-height: 54px;
    font-size: 24px;
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
    background-color: #7395AE;
    text-align: center;
    border: none;
    border-radius: 5px;
}

textarea {
    max-width: 50%;
}

