


/* Reset defaults */
html, body {
    padding: 0;
    margin: 0;  
    height: 100%; /* This has to be set */
}

body{
    display: flex; /* Get dynamic sizing without queries */
    flex-direction: column;
    overflow: hidden; /* Only want the sidebar/content to be scrollable */
}




p, a {
  font-size: 17px;
  font-family: Tahoma;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #dbdbdb;
}

.navBar{
  background-color: #557A95;
  overflow: hidden;
  width:100%;
  flex: 0 0 auto; /* So navbar stays same size */
}

.navBar a{
  float: left;
  padding: 14px 16px;
}

.navBar ul {
  list-style:none;
  width: 100%;
}

.navBar ul li {
  display: inline-block;
  width: 18%;
}

.navBarItem {
  width:100%;
  text-align: center;
}



/* Custom scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
::-webkit-scrollbar {
    width: 14px;
    background-color: rgb(236, 230, 230);
}



/* Contains the sidebar and event view */
.content-container{
    display: flex;
    flex-direction: row;
    border: solid brown;
    flex-grow: 1; /* Will fill rest of screen(body) */
}

.side-bar{
    direction: rtl; /* So scrollbar is on left*/
    width: 16%;
    background-color: whitesmoke;
    overflow-y: scroll; /* Yeah boy */
    display: flex; /* Make it easier for scroll to work */
    flex-direction: column;
}
.side-bar *{
    direction: ltr; /* Get direction back to normal */
}
.side-bar-items{
    max-height: 100%;
    flex-grow: 1; /* Will fill rest of side-bar */
}
.item-content{
    flex-basis: 90%;
}
.item-header, .item-location, .item-time{
    color: black !important;
}
.item-header{
    font-weight: 200;
}

/* Searching in sidebar */
.side-bar-search{
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 20px;
    position: sticky; /* So it sticks to the top while scrolling*/
    top: 0;
    flex: 0 0 auto; /* So search stays same size */
}
.side-bar-search input{
    width: 100%;
    font-size: 25px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: grey 1px 1px 1px;
}
.side-bar-search a{
    float: right;
}
.side-bar-search p{
    padding: 0;
    margin: 3px;
    padding-left: 6px;
    color: black;
}
.side-bar-search img{
    max-width: 14px;
    transform: rotate(180deg);
}


/* Side bar event display */
.side-bar-item{
    padding: 18px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    flex-direction: row;
}


/* The item selected in the list */
.item-active{
    background-color: white;
    box-shadow: grey 2px 2px 2px;
}
.side-bar-item:hover{
    cursor: pointer;
}


/* Little flags that are used to id the type easier */
.item-flag-container{
    flex-basis: 10%;
}
.event-flag {
    height: 15%;
    width: 100%;
}
.club-flag{
    background-color: rgb(14, 199, 14);
}
.party-flag{
    background-color: rgb(58, 148, 151);
}
.convention-flag{
    background-color: orange;
}



/* The actual display of the event information */
.map{
    height: 300px; /* This should probably be set */
    /*background-image: url("../images/maps.png");*/
    border: solid red;
    font-size: 40px;
    background-repeat: no-repeat;
    background-size: cover; 
}

/* Do not set a size on this(.event) -- the scroll wont work then */
.event{
    flex-basis: 85%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.temp-container{
    margin: 100px;
    font-size: 50px;
    height: 10000px; /* Temporary so you guys can see how scroll works */
}

